.languageSelector {
  display: flex;
  align-items: center;
  color: rgb(0, 0, 0);
  position: relative;
}
.footerLanguageSelector {
  display: flex;
  align-items: center;
  color: rgb(0, 0, 0);
  position: relative;
}

.languageSvg {
  position: absolute;
  color: white;
  fill: currentColor;
}

.languageSvgLeft {
  left: 0.8em;
  top: 0.5em;
}

.languageSvgRight {
  right: 0.8em;
  top: 0.5em;
}

.languageSelector select {
  outline: none;
  border-radius: 5px;
  box-shadow: 0 0 0 0.1px white;
  background-color: transparent;
  color: transparent;
  width: 100%;
  padding: 0.2em 0.2em;
  font-size: 0.9rem;
  line-height: 1.5rem;
  font-weight: 600;
  box-sizing: border-box;
  -webkit-appearance: none;
  -moz-appearance: none;
}
.footerLanguageSelector select {
  background-color: transparent;
  color: white;
  box-shadow: 0 0 0 0.1px white;
  outline: none;
  box-sizing: border-box;
  -webkit-appearance: none;
  -moz-appearance: none;
  border-radius: 5px;
  padding: 0.2em 2.3em;
  width: 100%;
  padding: 0.2em 2.3em;
  font-size: 0.9rem;
  line-height: 1.5rem;
  font-weight: 600;
}

.languageSelector select option {
  color: black;
}
.footerLanguageSelector select option {
  color: black;
}
@media screen and (max-width: 960px) and (min-width: 600px) {
  .languageSelector select {
    outline: none;
    border-radius: 5px;
    box-shadow: 0 0 0 0.1px white;
    background-color: transparent;
    color: white;
    width: 100%;
    padding: 0.2em 2.4em;
    font-size: 0.9rem;
    line-height: 1.5rem;
    font-weight: 600;
    box-sizing: border-box;
    -webkit-appearance: none;
    -moz-appearance: none;
  }
  .footerLanguageSelector select {
    color: white;
    padding: 0.2em 2.4em;
  }
}
@media screen and (max-width: 1280px) and (min-width: 960px) {
  .languageSelector select {
    outline: none;
    border-radius: 5px;
    box-shadow: 0 0 0 0.1px white;
    background-color: transparent;
    color: white;
    width: 100%;
    padding: 0.2em 2.4em;
    font-size: 0.9rem;
    line-height: 1.5rem;
    font-weight: 600;
    box-sizing: border-box;
    -webkit-appearance: none;
    -moz-appearance: none;
  }
  .footerLanguageSelector select {
    color: white;
    padding: 0.2em 2.4em;
  }
}
@media screen and (min-width: 1280px) {
  .languageSelector select {
    outline: none;
    border-radius: 5px;
    box-shadow: 0 0 0 0.1px white;
    background-color: transparent;
    color: white;
    width: 100%;
    padding: 0.2em 2.4em;
    font-size: 0.9rem;
    line-height: 1.5rem;
    font-weight: 600;
    box-sizing: border-box;
    -webkit-appearance: none;
    -moz-appearance: none;
  }
  .footerLanguageSelector select {
    color: white;
    padding: 0.2em 2.4em;
  }
}
