.trendingSection {
  margin-top: 10px;
  margin-bottom: 30px;
  width: 100%;
  color: white;
}
.trendingHeader h3 {
  font-size: 24px;
}
.trendingContent {
  position: relative;
}
.trendingContent ul {
  list-style-type: none;
  padding: 20px;
  display: flex;
  gap: 30px;
  overflow-x: scroll;
  overflow-y: hidden;
  scrollbar-width: none;
  scroll-behavior: smooth;
}

.trendingContent ul li {
  flex-shrink: 0;
}

.scrollBtns {
  width: 100%;
  height: 310px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
  position: absolute;
}
.scrollBtnBg {
  background-color: black;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 90%;
  padding: 0 15px;
  z-index: 10;
}
.scrollBtn {
  height: 40%;
  border-radius: 10px;
  background-color: hsla(0, 0%, 10%, 1);
  border: none;
  color: white;
}
.scrollBtn:hover {
  background-color: hsla(0, 0%, 5%, 1);
}

.leftScrollBtnBG {
  left: -10px;
}
.rightScrollBtnBG {
  right: -10px;
}
.visible {
  opacity: 1;
  pointer-events: auto;
  transition: opacity 0.3s ease-in-out;
}
.hidden {
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.3s ease-in-out;
}
