.trendingSection {
  margin-top: 0.5rem;
  margin-bottom: 30px;
  width: 100%;
  color: white;
}
.trendingHeader h3 {
  font-size: 1.2rem;
}
.trendingContent {
  position: relative;
}
.trendingContent ul {
  list-style-type: none;
  padding: 1em;
  display: flex;
  gap: 1.2em;
  overflow-x: scroll;
  overflow-y: hidden;
  scrollbar-width: none;
  scroll-behavior: smooth;
}

.trendingContent ul li {
  flex-shrink: 0;
}

.scrollBtns {
  width: 100%;
  height: 12rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 0.5em;
  position: absolute;
}
.scrollBtnBg {
  background-color: black;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  padding: 0 0.5rem;
  z-index: 9;
}
.scrollBtn {
  height: 60%;
  border-radius: 8px;
  background-color: hsla(0, 0%, 10%, 1);
  border: none;
  color: white;
}
.scrollBtn:hover {
  background-color: hsla(0, 0%, 5%, 1);
}

.leftScrollBtnBG {
  left: -1em;
}
.rightScrollBtnBG {
  right: -1em;
}
.visible {
  opacity: 1;
  pointer-events: auto;
  transition: opacity 0.3s ease-in-out;
}
.hidden {
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.3s ease-in-out;
}

/* Small Desktop / Laptops */
@media (min-width: 960px) and (max-width: 1280px) {
  .trendingSection {
    margin-top: 1.5rem;
    margin-bottom: 1.5em;
    color: white;
  }
  .trendingHeader h3 {
    font-size: 1.5rem;
  }
  .trendingContent {
    position: relative;
  }
  .trendingContent ul {
    list-style-type: none;
    padding: 1em;
    display: flex;
    gap: 3em;
    overflow-x: scroll;
    overflow-y: hidden;
    scrollbar-width: none;
    scroll-behavior: smooth;
  }

  .trendingContent ul li {
    flex-shrink: 0;
  }

  .scrollBtns {
    width: 100%;
    height: 15rem;
    gap: 0.5em;
  }
  .scrollBtnBg {
    height: 100%;
    padding: 0 0.5rem;
    z-index: 10;
  }
  .scrollBtn {
    height: 60%;
  }
  .scrollBtn:hover {
    background-color: hsla(0, 0%, 5%, 1);
  }

  .leftScrollBtnBG {
    left: -1em;
  }
  .rightScrollBtnBG {
    right: -1em;
  }
  .visible {
    opacity: 1;
    pointer-events: auto;
    transition: opacity 0.3s ease-in-out;
  }
  .hidden {
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.3s ease-in-out;
  }
}

/* Large Desktops / TVs */
@media (min-width: 1280px) {
  .trendingSection {
    margin-top: 1.5rem;
    margin-bottom: 1.5em;
    color: white;
  }
  .trendingHeader h3 {
    font-size: 1.5rem;
  }
  .trendingContent {
    position: relative;
  }
  .trendingContent ul {
    list-style-type: none;
    padding: 1em;
    display: flex;
    gap: 3em;
    overflow-x: scroll;
    overflow-y: hidden;
    scrollbar-width: none;
    scroll-behavior: smooth;
  }

  .trendingContent ul li {
    flex-shrink: 0;
  }

  .scrollBtns {
    width: 100%;
    height: 17rem;
    gap: 0.5em;
  }
  .scrollBtnBg {
    height: 100%;
    padding: 0 0.5rem;
    z-index: 10;
  }
  .scrollBtn {
    height: 60%;
  }
  .scrollBtn:hover {
    background-color: hsla(0, 0%, 5%, 1);
  }

  .leftScrollBtnBG {
    left: -1em;
  }
  .rightScrollBtnBG {
    right: -1em;
  }
  .visible {
    opacity: 1;
    pointer-events: auto;
    transition: opacity 0.3s ease-in-out;
  }
  .hidden {
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.3s ease-in-out;
  }
}
