.navBar {
  height: 10vh;
  width: 100%;
  padding: 0 2em;
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  background: #000000;
  background: linear-gradient(
    180deg,
    rgba(0, 0, 0, 0.88) 0%,
    rgba(0, 0, 0, 0) 100%
  );
  position: relative;
  z-index: 999;

}
.navBar .logoContainer svg {
  width: 6rem;
  color: rgb(229, 9, 20);
  fill: currentColor;
}

.navBarActionControls {
  display: flex;
  align-items: center;
  gap: 1em;
}

.signIn .signInBtn {
  padding: 0.5em 1em;
  font-size: 0.9rem;
  line-height: 1.5rem;
  font-weight: 600;
  border-radius: 5px;
  background-color: red;
  text-decoration: none;
  color: white;
}

.signIn .signInBtn:hover {
  background-color: hsl(0, 100%, 45%);
}

/* Tablet (small landscape/tablet) */
@media screen and (max-width: 959px) and (min-width: 600px) {
}

/* Small Desktop / Laptops */
@media (min-width: 960px) and (max-width: 1280px) {
  .navBar {
    width: 100%;
    height: 10vh;
    padding: 0 5em;
    padding-top: 1em;
  }
  .navBar .logoContainer svg {
    width: 10rem;
  }
  .signIn .signInBtn {
    padding: 0.5em 0.9em;
    font-size: 0.9rem;
    line-height: 1.6rem;
    font-weight: 600;
  }
  .navBarActionControls {
    gap: 0.8em;
  }
}

/* Large Desktops / TVs */
@media (min-width: 1280px) {
  .navBar {
    width: 100%;
    height: 10vh;
    padding: 0 9em;
    padding-top: 1.5em;
  }
  .navBar .logoContainer svg {
    width: 10rem;
  }
  .signIn .signInBtn {
    padding: 0.5em 0.9em;
    font-size: 0.9rem;
    line-height: 1.6rem;
    font-weight: 600;
  }
  .navBarActionControls {
    gap: 0.8em;
  }
}
