.exploreSection {
    width: 90%;
    padding-top: 1rem;
}

/* Mobile (phones) */
@media (max-width: 599px) {

}

/* Tablet (small landscape/tablet) */
@media (min-width: 600px) and (max-width: 959px) {

}

/* Small Desktop / Laptops */
@media (min-width: 960px) and (max-width: 1279px) {
.exploreSection {
    padding-top: 100px;
}
}

/* Large Desktops / TVs */
@media (min-width: 1280px) {

}