.emailSignup {
  margin-top: 1.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.emailSignup h3 {
  color: white;
  font-size: 1rem;
  font-weight: normal;
  text-align: center;
}
.emailSignupForm {
  width: 100%;
  margin-top: 1.5em;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1em;
}

.emailInputSection {
  position: relative;
  display: flex;
  justify-content: center;
}
.emailInputSection .emailSignupInput {
  background-color: hsla(0, 0%, 3%, 0.5);
  box-shadow: 0 0 0 0.3px white;
  color: white;
  border: none;
  box-sizing: border-box;
  border-radius: 4px;
  min-width: 90vw;

  padding: 1.5rem 1rem;
  padding-bottom: 0.7rem;
  font-size: 1rem;
}
.emailInputPlaceholder {
  position: absolute;
  font-size: 1rem;
  top: 1.5rem;
  left: 2em;
  color: #aaa;
  transform: translateY(-30%);
  transition: all 0.2s ease;
  pointer-events: none;
}
.emailSignupInput:focus + .emailInputPlaceholder {
  left: 1.7rem;
  top: 1rem;
  font-size: 0.7rem;
}

.getStartedBtn {
  text-align: center;
  display: flex;
  align-items: center;
  width: 10.5rem;
  padding: 0.7rem 0.7rem;
  font-size: 1.2rem;
  border-radius: 4px;
  border: none;
  background-color: red;
  color: white;
  font-weight: bolder;
  box-sizing: border-box;
}
.getStartedBtn:hover {
  background-color: hsl(0, 100%, 40%);
}
.getStartedBtn svg {
  margin-left: 10px;
}

/* Explore Email Section */
.exploreEmailSignup {
  min-width: 30rem;
  margin-top: 1.5rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.exploreEmailSignup h3 {
  color: white;
  font-size: 1rem;
  max-width: 90vw;
  font-weight: normal;
  /* text-align: center; */
}

.exploreEmailSignupForm {
  width: 100%;
  margin-top: 1.5em;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 1em;
}

/* Tab */
@media (min-width: 600px) and (max-width: 960px) {
  .emailSignup {
    max-width: 26rem;
    text-align: center;
  }

  .emailSignupForm {
    flex-direction: row;
    gap: 0.5em;
  }

  .emailInputSection .emailSignupInput {
    min-width: 16rem;
    padding: 1.5rem 1rem;
    padding-bottom: 0.7rem;
    font-size: 1rem;
  }
  .emailInputPlaceholder {
    position: absolute;
    font-size: 1rem;
    top: 1.5rem;
    left: 1em;
    color: #aaa;
    transform: translateY(-30%);
    transition: all 0.2s ease;
    pointer-events: none;
  }
  .emailSignupInput:focus + .emailInputPlaceholder {
    left: 1rem;
    top: 1rem;
    font-size: 0.7rem;
  }
  .getStartedBtn {
    width: 11rem;
    padding: 0.8rem 0.9rem;
    font-size: 1rem;
  }
  /* Explore Email Section */
  .exploreEmailSignup {
    width: 100%;
    margin-top: 5rem;
    align-items: center;
  }
  .exploreEmailSignupForm {
    margin-top: 1.5em;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 1em;
  }
  .exploreEmailSignup .emailInputSection .emailSignupInput {
    min-width: 100%;
    padding: 1.5rem 1rem;
    padding-right: 30rem;
    padding-bottom: 0.7rem;
    font-size: 1rem;
  }
  .exploreEmailSignupForm .emailSignupInput:focus + .emailInputPlaceholder {
    left: 1rem;
    top: 1rem;
    font-size: 0.7rem;
  }
  .exploreEmailSignupForm .getStartedBtn {
    width: 20rem;
    padding: 0.8rem 1.95rem;
    font-size: 1rem;
  }
}

/* Lap */
@media (min-width: 960px) and (max-width: 1280px) {
  .emailSignup {
    text-align: center;
    margin-top: 1.5em;
  }
  .emailSignup h3 {
    max-width: 26em;
    font-size: 1rem;
    font-weight: 500;
  }
  .emailSignupForm {
    margin-top: 1.5em;
    display: flex;
    flex-direction: row;
    gap: 0.5em;
  }
  .emailInputSection .emailSignupInput {
    min-width: 20rem;
    padding: 1.5rem 1rem;
    padding-bottom: 0.7rem;
    font-size: 1rem;
  }
  .emailInputPlaceholder {
    position: absolute;
    font-size: 1rem;
    top: 1.5rem;
    left: 1em;
    color: #aaa;
    transform: translateY(-30%);
    transition: all 0.2s ease;
    pointer-events: none;
  }
  .emailSignupInput:focus + .emailInputPlaceholder {
    left: 1rem;
    top: 1rem;
    font-size: 0.7rem;
  }
  .getStartedBtn {
    width: 11rem;
    padding: 0.8rem 1.7rem;
    font-size: 1rem;
  }
  .getStartedBtn svg {
    margin-left: 10px;
  }

  /* Explore Email Section */
  .exploreEmailSignup {
    width: 100%;
    margin-top: 5rem;
    align-items: center;
  }
  .exploreEmailSignupForm {
    margin-top: 1.5em;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 1em;
  }
  .exploreEmailSignup .emailInputSection .emailSignupInput {
    min-width: 50%;
    padding: 1.5rem 1rem;
    padding-right: 15rem;
    padding-bottom: 0.7rem;
    font-size: 1rem;
  }
  .exploreEmailSignupForm .emailSignupInput:focus + .emailInputPlaceholder {
    left: 1rem;
    top: 1rem;
    font-size: 0.7rem;
  }
  .exploreEmailSignupForm .getStartedBtn {
    width: 11.7rem;
    padding: 0.8rem 1.95rem;
    font-size: 1rem;
  }
}

/* Large Desktops / TVs */
@media (min-width: 1280px) {
  .emailSignup {
    text-align: center;
    margin-top: 1.5em;
  }
  .emailSignup h3 {
    max-width: 32em;
    font-size: 1rem;
    font-weight: 500;
  }
  .emailSignupForm {
    margin-top: 1.5em;
    display: flex;
    flex-direction: row;
    gap: 0.5em;
  }
  .emailInputSection .emailSignupInput {
    min-width: 25rem;
    padding: 1.5rem 1rem;
    padding-bottom: 0.7rem;
    font-size: 1rem;
  }
  .emailInputPlaceholder {
    position: absolute;
    font-size: 1rem;
    top: 1.5rem;
    left: 1em;
    color: #aaa;
    transform: translateY(-30%);
    transition: all 0.2s ease;
    pointer-events: none;
  }
  .emailSignupInput:focus + .emailInputPlaceholder {
    left: 1rem;
    top: 1rem;
    font-size: 0.7rem;
  }
  .getStartedBtn {
    width: 14.5rem;
    padding: 0.8rem 2rem;
    font-size: 1.5rem;
  }
  .getStartedBtn svg {
    margin-left: 10px;
  }

  /* Explore Email Section */
  .exploreEmailSignup {
    width: 100%;
    margin-top: 5rem;
    align-items: center;
  }
  .exploreEmailSignupForm {
    margin-top: 1.5em;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 1em;
  }
  .exploreEmailSignup .emailInputSection .emailSignupInput {
    min-width: 50%;
    padding: 1.5rem 1rem;
    padding-right: 15rem;
    padding-bottom: 0.7rem;
    font-size: 1rem;
  }
  .exploreEmailSignupForm .emailSignupInput:focus + .emailInputPlaceholder {
    left: 1rem;
    top: 1rem;
    font-size: 0.7rem;
  }
  .exploreEmailSignupForm .getStartedBtn {
    width: 14.5rem;
    padding: 0.8rem 2rem;
    font-size: 1.5rem;
  }
}
