.featureCard {
  /* min-height: 12rem; */
  width: 100%;
  padding: 1em;
  flex: 1 1 0;
  padding-bottom: 5rem;
  border: none;
  border-radius: 20px;
  background: linear-gradient(149deg, #192247 0%, #210e17 96.86%);
  box-sizing: border-box;
  position: relative;
}
.featureCardHeader {
  margin-top: 0.5em;
}
.featureCardHeader h3 {
  font-size: 1.2rem;
}
.featureCardDescription {
  margin-top: 1em;
}
.featureCardDescription p {
  font-size: 1rem;
  color: #bbbabf;
  font-weight: 500;
}
.featureSvgContainer {
  position: absolute;
  right: 0.5em;
  bottom: 0.5em;
}

/* Tablet (small landscape/tablet) */
@media (min-width: 600px) and (max-width: 959px) {
  .featureCard {
    flex: 1 1 0;
    padding-bottom: 5rem;
  }
}

/* Small Desktop / Laptops */
@media (min-width: 960px) and (max-width: 1280px) {
  .featureCard {
    max-height: 15rem;
    min-height: 15rem;
    height: 100%;
    box-sizing: border-box;
    padding: 1.5em;
    padding-bottom: 9rem;
  }

  .featureCardHeader {
    margin-top: 0.3em;
  }
  .featureCardHeader h3 {
    font-size: 1.5rem;
  }
  .featureCardDescription {
    margin-top: 1em;
  }
  .featureCardDescription p {
    font-size: 1rem;
    font-weight: 500;
  }
  .featureSvgContainer {
    right: 0.5em;
    bottom: 0.5em;
  }
}

/* Large Desktops / TVs */
@media (min-width: 1280px) {
  .featureCard {
    width: 100%;
    min-height: 20rem;
    padding: 1em;
    border-radius: 1rem;
    color: white;
    display: flex;
    flex-direction: column;
  }
  .featureCardHeader {
    margin-top: 0.3em;
  }
  .featureCardHeader h3 {
    font-size: 1.5rem;
  }
  .featureCardDescription {
    margin-top: 1em;
  }
  .featureCardDescription p {
    font-size: 1.1rem;
    max-width: 12rem;
    font-weight: 500;
  }
  .featureSvgContainer {
    right: 0.5em;
    bottom: 0.5em;
  }
}
