.banner {
  position: relative;
  height: 85vh;
  width: 100vw;
  color: white;
  overflow: hidden;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.bannerOverlay {
  position: absolute;
  top: 0;
  background-color: hsla(0, 0%, 0%, 0.7);
  height: 85vh;
  width: 100%;
  z-index: 1;
}

.bannerContentContainer {
  position: relative;
  z-index: 2;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.bannerContent {
  width: 80%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.bannerHeader {
  margin-top: 13%;
  text-align: center;
}
.bannerHeader h1 {
  font-size: 2rem;
  font-weight: bold;
}
.bannerHeader p {
  margin-top: 0.7em;
  font-size: 1rem;
}
.bannerCurveContainer {
  display: flex;
  justify-content: center;
  overflow: hidden;
}
.bannerBottomCurve {
  width: 110vw;
  height: 60px;
  position: absolute;
  z-index: 8;
  bottom: -20px;
  background: linear-gradient(
    to right,
    rgba(33, 13, 22, 1) 16%,
    rgba(184, 40, 105, 1),
    rgba(229, 9, 20, 1),
    rgba(184, 40, 105, 1),
    rgba(33, 13, 22, 1) 84%
  );
  border-top-left-radius: 50% 100%;
  border-top-right-radius: 50% 100%;
  overflow: hidden;
}
.bannerBottomCurve::before {
  content: "";
  width: 110vw;
  height: 60px;
  background: radial-gradient(
      50% 500% at 50% -420%,
      rgba(64, 97, 231, 0.4) 80%,
      rgba(0, 0, 0, 0.1) 100%
    ),
    black;
  position: absolute;
  z-index: 9;
  bottom: -5px;
  border-top-left-radius: 50% 100%;
  border-top-right-radius: 50% 100%;
  overflow: hidden;
}

/* Tablet (small landscape/tablet) */
@media (min-width: 600px) and (max-width: 960px) {
  .bannerContent {
    min-width: 30rem;
    width: 50%;
  }
  .bannerHeader h1 {
    font-size: 2rem;
  }
  .bannerHeader {
    margin-top: 20%;
  }
  .bannerHeader p {
    margin-top: 1rem;
    font-size: 1rem;
  }
}

/* Small Desktop / Laptops */
@media (min-width: 960px) and (max-width: 1279px) {
  .banner {
    height: 97vh;
  }
  .bannerOverlay {
    height: 97vh;
  }
  .bannerContent {
    width: 30%;
    min-width: 40vw;
  }
  .bannerHeader h1 {
    font-size: 2.3rem;
    font-weight: bolder;
  }
  .bannerHeader {
    margin-top: 40%;
  }
  .bannerHeader p {
    margin-top: 0.5em;
    font-size: 1em;
    font-weight: 600;
  }
}

/* Large Desktops / TVs */
@media (min-width: 1280px) {
  .banner {
    height: 97vh;
  }
  .bannerOverlay {
    height: 97vh;
  }
  .bannerContent {
    width: 50%;
  }
  .bannerHeader h1 {
    font-size: 3.2rem;
    font-weight: 900;
  }
  .bannerHeader {
    margin-top: 20%;
  }
  .bannerHeader p {
    margin-top: 1em;
    font-size: 1.3rem;
    font-weight: 600;
  }
}
